# place# Изключване на виртуални среди и библиотеки
env/
venv/
.venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.log
*.zip
*.tar
*.gz
*.whl
.ipynb_checkpoints/
site-packages/
build/
dist/holder
